@model DoEko.Models.DoEko.Survey.SurveyHotWater
@using DoEko.Controllers.Extensions
@using DoEko.Models.DoEko.Survey
@using DoEko.Models.Identity
@{
    ViewData["Title"] = "Ankieta: Ciepła Woda | " + Model.RSEType.DisplayName();
}

<!-- Navigation -->
@if (User.IsInRole(Roles.Inspector))
{
    <ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a asp-action="List" asp-controller="Investments">Moje inspekcje</a></li>
        <li><a asp-action="Details" asp-controller="Investments">Inwestycja @Model.Investment.Address.SingleLine</a></li>
        <li class="active"></li>
    </ol>
}
else
{
    <ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a asp-action="List" asp-controller="Investments">Moje inspekcje</a></li>
        <li><a asp-action="Details" asp-controller="Investments" asp-route-id="@Model.InvestmentId">Inwestycja @Model.Investment.Address.SingleLine</a></li>
        <li class="active">@Model.Type.DisplayName() | @Model.RSEType.DisplayName()</li>
    </ol>

    @*<ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a asp-action="Index" asp-controller="Projects">Lista Projektów</a></li>
        <li><a asp-action="Details" asp-controller="Projects" asp-route-Id="@Model.Contract.ProjectId">Projekt @Html.DisplayFor(model => model.Contract.Project.ShortDescription)</a></li>
        <li><a asp-action="Details" asp-controller="Contracts" asp-route-Id="@Model.ContractId">Umowa @Html.DisplayFor(model => model.Contract.Number)</a></li>
        <li class="active">Inwestycja @(Model.Address.FirstLine + " " + Model.Address.SecondLine)</li>
    </ol>*@
}
<!--Popup Message with errors-->
<div class="alert alert-danger alert-dismissable hidden" role="alert" id="AjaxErrorDiv">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Uwaga!</strong><div id="AjaxErrorMsg"></div>
</div>
<!--Static Survey Header-->
<div class="row">
    <div class="col-sm-4">
        <div class="form-group-sm">
            <label class="control-label">
                <i class="fa fa-plug" aria-hidden="true"></i> OZE
            </label>
            <p class="form-control-static">
                @Model.Type.DisplayName() | @Model.RSEType.DisplayName()
            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group-sm">
            <label class="control-label">
                <i class="fa fa-map-marker" aria-hidden="true"></i> Inwestycja
            </label>
            <p class="form-control-static">
                @Model.Investment.Address.SingleLine
            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group-sm">
            <label class="control-label">
                <i class="fa fa-cogs" aria-hidden="true"></i> Status inspekcji
            </label>
            <p class="form-control-static">
                @Model.Status.DisplayName()
            </p>
        </div>
    </div>
</div>
<hr />
<nav>
    <ul id="stepList" data-step-current="11" class="nav nav-tabs nav-justified">
        @{ int ownerCount = Model.Investment.InvestmentOwners.Count + 11;}
        <li class="active" data-step-from="11" data-step-to="@ownerCount">
            <a href="#Step_11" data-toggle="tab">Inwestycja<span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
        </li>
        <li data-step-from="21" data-step-to="26">
            <a href="#Step_21" data-toggle="tab">Opis Budynku (wewn.)<span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
        </li>
        <li data-step-from="31" data-step-to="31">
            <a href="#Step_31" data-toggle="tab">Opis Działki (zewn.)<span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
        </li>
        <li data-step-from="41" data-step-to="42">
            <a href="#Step_41" data-toggle="tab">Audyt Energetyczny<span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
        </li>
        <li data-step-from="51" data-step-to="51">
            <a href="#Step_51" data-toggle="tab">Zdjęcia</a>
        </li>
    </ul>
</nav>

<!--BODY-->
<div class="tab-content container-fluid">
    <div id="Dynamic" class="tab-pane fade in active">
        @await Component.InvokeAsync("InvestmentGeneralInfo", new { investmentId = Model.InvestmentId, mode = "Edit" })
    </div>
    <input type="hidden" id="MaintainedSurveyId" form="Null" value="@Model.SurveyId" />
</div>
    
<!--NAVIGATION BUTTONS-->
<div class="row">
    <hr />        
    @*<div class="col-xs-12 visible-xs">
        <div class="form-group">
            <a class="btn btn-danger" asp-action="Details" asp-controller="Investments" asp-route-Id="@Model.InvestmentId">Anuluj</a>
            <button type="button" id="stepPrev" class="btn btn-default" disabled>Wstecz</button>
            <button type="button" id="stepNext" class="btn btn-success">Dalej</button>
            <button type="button" id="stepLast" class="btn btn-success hidden">Zakończ</button>
        </div>
    </div>*@
    <div class="col-md-6 col-sm-6 col-xs-4">
        <div class="form-group">
            <a class="btn btn-danger" asp-action="Details" asp-controller="Investments" asp-route-Id="@Model.InvestmentId">
                Anuluj
            </a>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-8">
        <div class="form-group pull-right">
            <button type="button" id="stepPrev" class="btn btn-default" disabled>Wstecz</button>
            <button type="button" id="stepNext" class="btn btn-success">Dalej</button>
            <button type="button" id="stepLast" class="btn btn-success hidden">Zakończ</button>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("../Shared/Address/_AddressScriptPartial");}
    @{await Html.RenderPartialAsync("_SurveyScriptsPartial");}
}