@using DoEko.Controllers.Extensions
@using DoEko.Models.DoEko
@model DoEko.Models.DoEko.Contract

<div class="row">
    <div class="form-group col-sm-6 col-md-3">
        <label asp-for="Type" class="control-label"></label>
        <p class="form-control-static">
            
            @if (Model.Type == ContractType.Cluster)
            {
                @string.Concat(Model.Type.DisplayName(),' ', Model.ClusterDetails.Commune.FullName)
            }
            else
            {
                @Model.Type.DisplayName()
            }
        </p>
    </div>

    <div class="form-group col-sm-6 col-md-3">
        <label asp-for="Number" class="control-label"></label>
        <p class="form-control-static">
            @Html.DisplayFor(model => model.Number)
        </p>
    </div>

    <div class="form-group col-sm-6 col-md-3">
        <label asp-for="ContractDate" class="control-label"></label>
        <p class="form-control-static">
            @Html.DisplayFor(model => model.ContractDate)
        </p>
    </div>

    <div class="form-group col-sm-6 col-md-3">
        <label asp-for="FullfilmentDate" class="control-label"></label>
        <p class="form-control-static">
            @Html.DisplayFor(model => model.FullfilmentDate)
        </p>
    </div>
</div>
<div class="row">
        <div class="form-group col-sm-6 col-md-3">
            <label asp-for="ShortDescription" class="control-label"></label>
            <p class="form-control-static">
                @Html.DisplayFor(model => model.ShortDescription)
            </p>
        </div>
        <div class="form-group col-sm-6 col-md-3">
            <label asp-for="Status" class="control-label"></label>
            <p class="form-control-static">
                @Model.Status.DisplayName()
            </p>
        </div>
        <div class="form-group col-sm-6 col-md-3">
            <label asp-for="Project.ProjectId" class="control-label"></label>
            <p class="form-control-static">
                <a asp-action="Details" asp-controller="Project" asp-route-id="@Model.ProjectId">
                    @Html.DisplayFor(model => model.Project.ShortDescription)
                </a>
            </p>
        </div>
        <div class="form-group col-sm-6 col-md-3">
            <label asp-for="CompanyId" class="control-label"></label>
            <p class="form-control-static">
                @Html.DisplayFor(model => model.Company.Name)
            </p>
        </div>
</div>
<div class="row">
        <div class="form-group col-sm-6 col-md-3">
            <label asp-for="Project.UEFundsLevel" class="control-label"></label>
            <p class="form-control-static">
                @( Model.Project.UEFundsLevel.ToString() + "% do kwoty " + (Model.Project.GrossNetFundsType ? "brutto" : "netto"))
            </p>
        </div>
        <div class="form-group col-sm-6 col-md-3">
            <label class="control-label"></label>
            <p class="form-control-static">
                
            </p>
        </div>
    @*<div class="form-group col-sm-6 col-md-3">
        <label for="Moc OZE" class="control-label"></label>
        <p class="form-control-static">
            @{                 
//var allSurveys = Model.Investments
//    .SelectMany(i => i.Surveys);
//var allneo = allSurveys
//    .Where(s => s.ResultCalculation != null)
//    .Select(s => s.ResultCalculation)
//    .ToList();

//var totalPower = allneo.Sum(r=>r.FinalRSEPower);
            //@totalPower.ToString()
            }
        </p>
    </div>*@
    <div class="form-group col-sm-6 col-md-3"></div>
</div>