@using DoEko.Controllers.Extensions
@using DoEko.Models.DoEko
@using DoEko.Models.Identity
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<DoEko.Models.DoEko.Investment>
<div class="table-responsive">

    @if (ViewBag.EditInspector)
    {

        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                            <input class="checkbox" type="checkbox" id="AllRowsSelector" name="AllRowsSelector"/>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InvestmentOwners)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InspectionStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InspectorId)
                    </th>
                    <th></th>
                </tr>
            </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><input type="checkbox" class="singlerowselector" name="InvestmentId[]" value="@item.InvestmentId" /></td>

                                <td>
                                    <partial name="../Shared/Address/_AddressDetailPartial" model="item"/>
                                </td>
                                <td>
                                    <table>
                                        <tbody>
                                            @foreach (var io in item.InvestmentOwners)
                                            {
                                                BusinessPartnerPerson bp = (BusinessPartnerPerson)io.Owner;
                                                <tr>
                                                    <td>
                                                        @(bp.LastName + ' ' + bp.FirstName)
                                                    </td>
                                                    <td>@('(' + bp.Pesel + ')')</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    @item.Status.DisplayName()
                                </td>
                                <td>
                                    @item.InspectionStatus.DisplayName()
                                </td>
                                <td>
                                    @{ApplicationUser user = await UserManager.FindByIdAsync(item.InspectorId.ToString());}
                                    @if (user != null)
                                    {
                                        @user.UserName
                                    }

                                </td>
                                <td class="pull-right">
                                    <a asp-action="Edit" asp-controller="Investments" asp-route-id="@item.InvestmentId"
                                       class="btn btn-sm btn-default">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <a asp-action="Details" asp-controller="Investments" asp-route-id="@item.InvestmentId"
                                       class="btn btn-sm btn-default">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                    <a asp-action="Delete" asp-controller="Investments" asp-route-id="@item.InvestmentId"
                                       class="btn btn-sm btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    <a asp-action="InspectionSummary" asp-controller="Reports" asp-route-id="@item.InvestmentId"
                                       class="btn btn-sm btn-default"
                                       title="Pobierz Raport - Podsumowanie analizy technicznych 
możliwości instalacji OZE">
                                        <span class="glyphicon glyphicon-save-file"></span>
                                    </a>
                                </td>
                            </tr>
                                       }
                    </tbody>
        </table>
}
else
{
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvestmentOwners)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InspectionStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InspectorId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
    {
                <tr>
                    <td>
                        <partial name="../Shared/Address/_AddressDetailPartial" model="item"/>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                @foreach (var io in item.InvestmentOwners)
                                {
                                    BusinessPartnerPerson bp = (BusinessPartnerPerson)io.Owner;
                                    <tr>
                                        <td>
                                            @(bp.LastName + ' ' + bp.FirstName)
                                        </td>
                                        <td>@('(' + bp.Pesel + ')')</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </td>
                    <td>
                        @item.Status.DisplayName()
                    </td>
                    <td>
                        @item.InspectionStatus.DisplayName()
                    </td>
                    <td>
                        @{ApplicationUser user = await UserManager.FindByIdAsync(item.InspectorId.ToString());}
                        @if (user != null)
                        {
                            @user.UserName
                        }

                    </td>
                    <td class="pull-right">
                        <a asp-action="Edit" asp-controller="Investments" asp-route-id="@item.InvestmentId"
                           class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a asp-action="Details" asp-controller="Investments" asp-route-id="@item.InvestmentId"
                           class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a asp-action="Delete" asp-controller="Investments" asp-route-id="@item.InvestmentId"
                           class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <a asp-action="InspectionSummary" asp-controller="Reports" asp-route-id="@item.InvestmentId"
                           class="btn btn-sm btn-default"
                           title="Pobierz Raport - Podsumowanie analizy technicznych
możliwości instalacji OZE">
                            <span class="glyphicon glyphicon-save-file"></span>
                        </a>

                    </td>
                </tr>
                            }
        </tbody>
    </table>
}
    </div>
