@using DoEko.Models.DoEko
@model Contract

@{
    ViewData["Title"] = "Nowa Umowa";
}

<h2>Nowa</h2>

<form asp-controller="Contracts" asp-action="Create" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div class="form-horizontal">
        <h4>Umowa</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="ProjectId" class="col-md-2 control-label"></label>
            <div class="col-md-10">

                @if (ViewBag.ProjectId != null)
                {
                    <input hidden asp-for="ProjectId" value="@ViewBag.ProjectId" />

                    <select disabled class="form-control"
                            asp-for="ProjectId" asp-items="@ViewBag.ProjectIdDL"></select>
                }
                else
                {
                    <select class="form-control" asp-for="ProjectId" asp-items="@ViewBag.ProjectIdDL">
                        <option value="">Wybierz projekt</option>
                    </select>
                }
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList(typeof(ContractType))">
                    <option value="">Rodzaj umowy</option>
                </select>
                <span asp-validation-for="Type" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Number" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ContractDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContractDate" class="form-control" />
                <span asp-validation-for="ContractDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FullfilmentDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FullfilmentDate" class="form-control" />
                <span asp-validation-for="FullfilmentDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
                @if (!String.IsNullOrEmpty(ViewBag.ReturnUrl))
                {
                    <a href="@ViewBag.ReturnUrl" class="btn btn-default" asp->Anuluj</a>
                }
                else
                {
                    <a asp-action="Index" class="btn btn-default" asp->Anuluj</a>
                }
            </div>
        </div>
    </div>
</form>
@*@if (Model != null)
{
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Dodaj inwestycję
    </button>
    <div class="collapse" id="collapseExample">
    </div>

    <div class="panel-group" id="investments" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="add-investment">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
    foreach (var investment in Model.Investments)
    {

    }
}*@

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
