@using DoEko.Models.DoEko
@model Contract

@{
    ViewData["Title"] = "Nowa Umowa";
}

<h2>Nowa</h2>

<form asp-controller="Contracts" asp-action="Create" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div class="form-horizontal">
        <h4>Umowa</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="ProjectId" class="col-md-2 control-label"></label>
            <div class="col-md-10">

                @if (Model.Project != null)
                {
                    <input hidden asp-for="ProjectId" />

                    <select disabled class="form-control"
                            asp-for="ProjectId" asp-items="@ViewBag.ProjectId"></select>
                }
                else
                {
                    <select class="form-control" asp-for="ProjectId" asp-items="@ViewBag.ProjectId">
                        <option value="">Wybierz projekt</option>
                    </select>
                }
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CompanyId" class="form-control" asp-items="@ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Type" class="form-control contract-number-rel" asp-items="Html.GetEnumSelectList(typeof(ContractType))">
                    <option value="">Rodzaj umowy</option>
                </select>
                <span asp-validation-for="Type" class="text-danger" />
            </div>
        </div>
        <div id="addressPart" style="display: none;">
        <div class="form-group">
            <label asp-for="ClusterDetails" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ClusterDetails.StateId" class="form-control" data-address="state" data-address-id="1" asp-items="ViewBag.StateId">
                    <option value="">Wybierz</option>
                </select>
                <span asp-validation-for="ClusterDetails.StateId" class="text-danger" />
            </div>
        </div>
            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="ClusterDetails.DistrictId" class="form-control" data-address="district" data-address-id="1" asp-items="ViewBag.DistrictId">
                        <option value="">Wybierz</option>
                    </select>
                    <span asp-validation-for="ClusterDetails.DistrictId" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ClusterDetails.CommuneType" class="form-control" data-address="communeType" data-address-id="1" type="hidden" />
                    <select asp-for="ClusterDetails.CommuneId" class="form-control" data-address="commune" data-address-id="1" asp-items="ViewBag.CommuneId">
                        <option value="">Wybierz</option>
                    </select>
                    <span asp-validation-for="ClusterDetails.CommuneId" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Number" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Number" class="form-control contract-number-fld" />
                <span asp-validation-for="Number" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ContractDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContractDate" class="form-control contract-number-rel" />
                <span asp-validation-for="ContractDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FullfilmentDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FullfilmentDate" class="form-control" />
                <span asp-validation-for="FullfilmentDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
                @if (!String.IsNullOrEmpty(ViewBag.ReturnUrl))
                {
                    <a href="@ViewBag.ReturnUrl" class="btn btn-default" asp->Anuluj</a>
                }
                else
                {
                    <a asp-action="Index" class="btn btn-default" asp->Anuluj</a>
                }
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <environment names="Development">
        <script src="~/js/AddressDropDown.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/AddressDropDown.min.js" asp-append-version="true"></script>
    </environment>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script title="ContractNumber" type="text/javascript">
        function UpdateNumber() {
            //contract - number - rel
            $.ajax({
                type: "GET",
                url: "/Contracts/CalculateNewNumberAjax",
                data: {
                    type: $('#Type').val(),
                    contractDate: $("#ContractDate").val()
                },
                dataType: "json",
                success: function (data, status) {
                    $('#Number').val(data);        
                }
            });
        }
        function ClusterSwitch() {
            var $address = $('#addressPart');
            var $form = $('#createContractForm');

            if ($(this).val() == '2') {
                $address.show();
                //$address.children('select').removeClass('.data-val-ignore');
                //$form.data("validator").settings.ignore = ".data-val-ignore, :hidden, :disabled";

            }
            else {
                $address.hide();
                
            }
        }
        $('body').on('change', '.contract-number-rel', UpdateNumber);
        $('body').on('change', '.contract-number-rel', ClusterSwitch);

    </script>

}
