@model DoEko.Models.DoEko.Contract

@{
    ViewData["Title"] = "Szczegóły Umowy";
}

<!-- Navigation -->
<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Str. Domowa</a></li>
    <li><a asp-action="Index" asp-controller="Projects">Lista Projektów</a></li>
    <li><a asp-action="Details" asp-controller="Projects" asp-route-Id="@Model.ProjectId">Projekt @Html.DisplayFor(model => model.Project.ShortDescription)</a></li>
    <li class="active">Umowa @Html.DisplayFor(model => model.Number)</li>
</ol>

<!--Title-->
<h2><small>Umowa nr </small>@Html.DisplayFor(model => model.Number)</h2>

<!--Panels-->
@if (ViewBag.EditInspector)
{
<div class="panel-group" id="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading wg-panel-heading clearfix"
                role="tab"
                id="heading-details">

            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
                Dane Umowy
            </h4>
            <div class="btn-group pull-right">
                <a asp-action="Edit"
                    asp-controller="Contracts"
                    asp-route-Id="@Model.ContractId"
                    asp-route-ReturnUrl="@Url.Action("Details", "Contracts", new { Id = Model.ContractId }, null, null, "details")"
                    class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>

<form asp-action="AssignInspector"
      asp-controller="Investments"
      asp-route-ReturnUrl="@Url.Action("Details", "Contracts", new { Id = Model.ContractId }, null, null, "heading-investments")"
      method="post"
      novalidate="">
      
      @*data-ajax="true"
      data-ajax-method="POST">*@
    <div class="panel panel-default">
        <div class="panel-heading wg-panel-heading clearfix"
            role="tab" id="heading-investments">

            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
                Inwestycje
            </h4>
            <div class="btn-group pull-right">
                <div class="form-inline">
                    <select class="form-control small" 
                            asp-items="@ViewBag.InspectorId" 
                            title="Inspektor"
                            id="InspectorId" name="InspectorId"
                            data-val-required="Proszę wybrać Inspektora"
                            data-val="true" 
                            aria-required="true" 
                            aria-invalid="false" 
                            aria-describedby="Number-error">
                        <option value="" selected>Inspektor</option>
                    </select>
                <button type="submit" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-user" title="Przypisz inspektora"></span>
                </button>
                    <a asp-action="Details"
                       asp-controller="Contracts"
                       asp-route-Id="@Model.ContractId"
                       asp-route-ReturnUrl="@ViewBag.ReturnUrl"
                       asp-route-EditInspector="false"
                       class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove" title="Anuluj"></span>
                    </a>                
                </div>
                <span class="text-danger field-validation-valid" data-valmsg-for="InspectorId" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div id="investments" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="header-investments">
            @await Html.PartialAsync("_InvestmentListPartial", Model.Investments)
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(function () {
        
        $('#AllRowsSelector').change (function () {
            $('.singlerowselector').prop('checked', this.checked);
        });
    });

</script>

}
</div>
}
else
{
    <div class="panel-group" id="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading wg-panel-heading clearfix"
                 role="tab"
                 id="heading-details"
                 data-toggle="collapse"
                data-parent="#panel-group"
                data-target="#details">

                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
                    Dane Umowy
                </h4>
                <div class="btn-group pull-right">
                    <a asp-action="Edit"
                       asp-controller="Contracts"
                       asp-route-Id="@Model.ContractId"
                       asp-route-ReturnUrl="@Url.Action("Details","Contracts", new { Id = Model.ContractId }, null,null,"details")"
                       class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div id="details" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-details">
                <div class="panel-body">
                    @await Html.PartialAsync("_ContractDetailsPartial")
                </div>
            </div>
        </div>

        <form asp-action="AssignInspector"
              asp-controller="Investments"
              asp-route-ReturnUrl="@Url.Action("Details", "Contracts", new { Id = Model.ContractId }, null, null, "heading-investments")"
              data-ajax="true"
              data-ajax-method="POST">

            <div class="panel panel-default">
                <div class="panel-heading wg-panel-heading clearfix"
                     role="tab" id="heading-investments" data-toggle="collapse" data-parent="#panel-group" data-target="#investments">

                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
                        Inwestycje
                    </h4>
                    <div class="btn-group pull-right">
                        <div class="form-inline">

                        <a asp-action="Create"
                           asp-controller="Investments"
                           asp-route-ContractId="@Model.ContractId"
                           asp-route-ReturnUrl="@Url.Action("Details", "Contracts", new { Id = Model.ContractId }, null, null, "heading-investments")"
                           class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-plus" title="Dodaj nową Inwestycję" aria-hidden="true"></span>
                        </a>
                        
                        <a asp-action="Details"
                            asp-controller="Contracts"
                            asp-route-Id="@Model.ContractId"
                            asp-route-ReturnUrl="@ViewBag.ReturnUrl"
                            asp-route-EditInspector="true"
                                                      class="btn btn-primary btn-sm">

                            <span class="glyphicon glyphicon-user" title="Przypisz inspektora"></span>
                        </a>
                        </div>
                        

                    </div>
                </div>
                <div id="investments" class="panel-collapse collapse" role="tabpanel" aria-labelledby="header-investments">
                    @await Html.PartialAsync("_InvestmentListPartial", Model.Investments)
                </div>
            </div>
        </form>
    </div>
}