@model DoEko.ViewComponents.ViewModels.SurveyAuditViewModel
@using DoEko.Models.DoEko
@using DoEko.Models.DoEko.Survey
<form id="SurveyAuditCH"
      asp-action="EditAuditCHAjax"
      asp-controller="Surveys"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="UPDATE"
      data-ajax-update=""
      data-ajax-failure="SectionPostFailure"
      data-ajax-success="SectionPostCompleted">
    <fieldset>
        <legend>Centralne Ogrzewanie</legend>
        <input type="hidden" asp-for="Investment.InvestmentId" />
        <input type="hidden" asp-for="SurveyId" />
        <input type="hidden" asp-for="Audit.SurveyId" />
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group-sm">
                    <label asp-for="Investment.CentralHeatingType" class="control-label"></label>
                    <select asp-for="Investment.CentralHeatingType" class="form-control centralheating-type" asp-items="@Html.GetEnumSelectList(typeof(CentralHeatingType))"></select>
                    <span asp-validation-for="Investment.CentralHeatingType" class="text-danger" />
                </div>
            </div>
            <div class="col-sm-3">
                @{string othertypestyle = "";}
                @if (Model.Investment.CentralHeatingType != CentralHeatingType.Other)
                {
                    othertypestyle = "display: none;";
                }
                <div class="form-group-sm centralheating-other" style="@othertypestyle">
                    <label asp-for="Investment.CentralHeatingTypeOther" class="control-label"></label>
                    <input asp-for="Investment.CentralHeatingTypeOther" class="form-control" />
                    <span asp-validation-for="Investment.CentralHeatingTypeOther" class="text-danger" />
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-3">
                @{string fueltypestyle = "";}
                @if (Model.Investment.CentralHeatingType == CentralHeatingType.None)
                {
                    fueltypestyle = "display: none;";
                }
                <div class="form-group-sm centralheating-fuel" style="@fueltypestyle">
                    <label asp-for="Investment.CentralHeatingFuel" class="control-label"></label>
                    <select asp-for="Investment.CentralHeatingFuel" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(FuelType))"></select>
                    <span asp-validation-for="Investment.CentralHeatingFuel" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group-sm">
                    <label asp-for="Audit.CHRadiatorsInstalled" class="control-label"></label>
                    <input asp-for="Audit.CHRadiatorsInstalled" hidden/>
                    <span class="help-block"></span>
                    <div class="btn-group-sm" data-toggle="buttons">
                        @if (Model.Audit.CHRadiatorsInstalled)
                        {
                            <label class="btn btn-default active">
                                <input type="radio" name="CHRadiatorsInstalled" class="optionbutton-true" data-linked-checkbox="Audit.CHRadiatorsInstalled" autocomplete="off" checked />
                                Tak
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="CHRadiatorsInstalled" class="optionbutton-false" data-linked-checkbox="Audit.CHRadiatorsInstalled" autocomplete="off" />
                                Nie
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-default">
                                <input type="radio" name="CHRadiatorsInstalled" class="optionbutton-true" data-linked-checkbox="Audit.CHRadiatorsInstalled" autocomplete="off" />
                                Tak
                            </label>
                            <label class="btn btn-default active">
                                <input type="radio" name="CHRadiatorsInstalled" class="optionbutton-false" data-linked-checkbox="Audit.CHRadiatorsInstalled" autocomplete="off" checked />
                                Nie
                            </label>
                        }
                    </div>
                                    
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group-sm">
                    <label asp-for="Audit.CHRadiatorType" class="control-label"></label>
                    <select asp-for="Audit.CHRadiatorType" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(CentralHeatingRadiatorType))"></select>
                    <span class="help-block"></span>
                    <span asp-validation-for="Audit.CHRadiatorType" class="text-danger" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group-sm">
                    <label asp-for="Audit.CHFRadiantFloorInstalled" class="control-label"></label>
                    <input asp-for="Audit.CHFRadiantFloorInstalled" hidden />
                    <span class="help-block"></span>
                    <div class="btn-group-sm" data-toggle="buttons">
                        @if (Model.Audit.CHFRadiantFloorInstalled)
                        {
                            <label class="btn btn-default active">
                                <input type="radio" name="CHFRadiantFloorInstalled" class="optionbutton-true" data-linked-checkbox="Audit.CHFRadiantFloorInstalled" autocomplete="off" checked />
                                Tak
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="CHFRadiantFloorInstalled" class="optionbutton-false" data-linked-checkbox="Audit.CHFRadiantFloorInstalled" autocomplete="off" />
                                Nie
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-default">
                                <input type="radio" name="CHFRadiantFloorInstalled" class="optionbutton-true" data-linked-checkbox="Audit.CHFRadiantFloorInstalled" autocomplete="off" />
                                Tak
                            </label>
                            <label class="btn btn-default active">
                                <input type="radio" name="CHFRadiantFloorInstalled" class="optionbutton-false" data-linked-checkbox="Audit.CHFRadiantFloorInstalled" autocomplete="off" checked />
                                Nie
                            </label>
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group-sm">
                    <label asp-for="Audit.CHRadiantFloorAreaPerc" class="control-label"></label>
                    <input asp-for="Audit.CHRadiantFloorAreaPerc" class="form-control" />
                    <span class="help-block"></span>
                    <span asp-validation-for="Audit.CHRadiantFloorAreaPerc" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group-sm">
                    <label asp-for="Audit.AdditionalHeatSource" class="control-label"></label>
                    <input asp-for="Audit.AdditionalHeatSource" hidden />
                    <div class="btn-group-sm" data-toggle="buttons">
                        @if (Model.Audit.AdditionalHeatSource)
                        {
                            <label class="btn btn-default active">
                                <input type="radio" name="CHAddHeatSource" class="optionbutton-true" 
                                       data-link-show-element=".additionalheatsrc-param"
                                       data-linked-checkbox="Audit.AdditionalHeatSource" autocomplete="off" checked />
                                Tak
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="CHAddHeatSource" class="optionbutton-false" 
                                       data-link-hide-element=".additionalheatsrc-param"
                                       data-linked-checkbox="Audit.AdditionalHeatSource" autocomplete="off" />
                                Nie
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-default">
                                <input type="radio" name="CHAddHeatSource" class="optionbutton-true" 
                                       data-link-show-element=".additionalheatsrc-param"
                                       data-linked-checkbox="Audit.AdditionalHeatSource" autocomplete="off" />
                                Tak
                            </label>
                            <label class="btn btn-default active">
                                <input type="radio" name="CHAddHeatSource" class="optionbutton-false" data-linked-checkbox="Audit.AdditionalHeatSource" 
                                       data-link-hide-element=".additionalheatsrc-param"
                                       autocomplete="off" checked />
                                Nie
                            </label>
                        }
                    </div>                    
                    <span asp-validation-for="Audit.AdditionalHeatSource" class="text-danger" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm additionalheatsrc-param">
                    <label asp-for="Audit.AdditionalHeatParams" class="control-label"></label>
                    <input asp-for="Audit.AdditionalHeatParams" class="form-control" />
                    <span asp-validation-for="Audit.AdditionalHeatParams" class="text-danger" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group-sm">
                    <label asp-for="Audit.CHIsHPOnlySource" class="control-label"></label>
                    <input asp-for="Audit.CHIsHPOnlySource" hidden/>
                    <div class="btn-group-sm" data-toggle="buttons">
                        @if (Model.Audit.CHIsHPOnlySource)
                        {
                            <label class="btn btn-default active">
                                <input type="radio" name="CHIsHPOnlySource" class="optionbutton-true" data-linked-checkbox="Audit.CHIsHPOnlySource" autocomplete="off" checked />
                                Tak
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="CHIsHPOnlySource" class="optionbutton-false" data-linked-checkbox="Audit.CHIsHPOnlySource" autocomplete="off" />
                                Nie
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-default">
                                <input type="radio" name="CHIsHPOnlySource" class="optionbutton-true" data-linked-checkbox="Audit.CHIsHPOnlySource" autocomplete="off" />
                                Tak
                            </label>
                            <label class="btn btn-default active">
                                <input type="radio" name="CHIsHPOnlySource" class="optionbutton-false" data-linked-checkbox="Audit.CHIsHPOnlySource" autocomplete="off" checked />
                                Nie
                            </label>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    <label asp-for="Audit.AverageYearlyFuelConsumption" class="control-label"></label>
                    <input asp-for="Audit.AverageYearlyFuelConsumption" class="form-control" />
                    <span asp-validation-for="Audit.AverageYearlyFuelConsumption" class="text-danger" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    <label asp-for="Audit.AverageYearlyHeatingCosts" class="control-label"></label>
                    <input asp-for="Audit.AverageYearlyHeatingCosts" class="form-control" />
                    <span asp-validation-for="Audit.AverageYearlyHeatingCosts" class="text-danger" />
                </div>
            </div>
        </div>
    </fieldset>
</form>