@using DoEko.Controllers.Extensions
@using DoEko.Models.DoEko
@using DoEko.Models.Identity
@using DoEko.Models.DoEko.Survey
@model IEnumerable<Survey>
<div class="table-responsive">
    <table class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Ostatnia zmiana</th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPaid)
                </th>
                <th>
                    Wpłata (Należność)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model)
    {
        String SurveyTypeName = "";
        switch (item.Type)
        {
            case SurveyType.CentralHeating:
                SurveyTypeName = ((SurveyCentralHeating)item).RSEType.DisplayName() + "(C.O.)";
                break;
            case SurveyType.HotWater:
                SurveyTypeName = ((SurveyHotWater)item).RSEType.DisplayName() + "(C.W.U.)";
                break;
            case SurveyType.Energy:
                SurveyTypeName = ((SurveyEnergy)item).RSEType.DisplayName() + "(E.E.)";
                break;
            default: break;
        }
            <tr>
                <td>
                    @SurveyTypeName
                </td>
                <td>
                    @item.Status.DisplayName()
                </td>
                <td>@item.ChangedAt.ToLocalTime().ToString()</td>
                <td>
                    @if (item.IsPaid)
                    {
                        <span class="text-success">Tak</span>
                    }
                    else
                    {
                        <span class="text-danger">Nie</span>
                    }
                </td>
                <td>
                    ...
                </td>
                <td>
                    <div class="pull-right">
                        @if (User.IsInRole(Roles.Admin))
	                    {
                        <button class="btn btn-default btn-sm"
                                data-toggle="modal"
                                data-target="#SrvMoveModal"
                                data-survey-id="@item.SurveyId"
                                type="button">
                            <span class="glyphicon glyphicon-transfer"></span>
                        </button>
	                    }
                        @switch (item.Status)
                        {
                            case SurveyStatus.New:
                                <a asp-action="Maintain" asp-controller="Surveys" asp-route-id="@item.SurveyId"
                                   class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                                <button class="btn btn-default btn-sm"
                                        data-toggle="modal"
                                        data-target="#SrvCancelModal"
                                        data-survey-id="@item.SurveyId"
                                        type="button">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                                break;
                            case SurveyStatus.Draft:
                                <a asp-action="Maintain" asp-controller="Surveys" asp-route-id="@item.SurveyId"
                                   class="btn btn-default btn-sm" title="Edytuj ankietę">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                                <button class="btn btn-default btn-sm"
                                        data-toggle="modal"
                                        data-target="#SrvCancelModal"
                                        data-survey-id="@item.SurveyId"
                                        type="button"
                                        title="Anuluj Ankietę">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                                <button class="btn btn-default btn-sm"
                                        data-toggle="modal"
                                        data-target="#SrvSubmitModal"
                                        data-survey-id="@item.SurveyId"
                                        type="button"
                                        title="Zakończ wprowadzanie
(Wyślij do akceptacji)">
                                    <span class="glyphicon glyphicon-send"></span>
                                </button>
                                break;
                            case SurveyStatus.Approval:
                                if (User.IsInRole(Roles.Admin))
                                {
                                    <a asp-action="Maintain" asp-controller="Surveys" asp-route-id="@item.SurveyId"
                                       class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                    <button class="btn btn-default btn-sm"
                                            data-toggle="modal"
                                            data-target="#SrvCancelModal"
                                            data-survey-id="@item.SurveyId"
                                            type="button"
                                            title="Anuluj Ankietę">
                                        <span class="glyphicon glyphicon-ban-circle"></span>
                                    </button>

                                    <button class="btn btn-default btn-sm"
                                            data-toggle="modal"
                                            data-target="#SrvApprovalModal"
                                            data-survey-id="@item.SurveyId"
                                            type="button"
                                            title="Zatwierdź ankietę">
                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                    </button>
                                    <button class="btn btn-default btn-sm"
                                            data-toggle="modal"
                                            data-target="#SrvRejectModal"
                                            data-survey-id="@item.SurveyId"
                                            type="button"
                                            title="Odrzuć ankietę">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>

                                }
                                break;
                            case SurveyStatus.Rejected:
                                <a asp-action="Maintain" asp-controller="Surveys" asp-route-id="@item.SurveyId"
                                   class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                                if (User.IsInRole(Roles.Admin))
                                {
                                    <button class="btn btn-default btn-sm"
                                            data-toggle="modal"
                                            data-target="#SrvCancelModal"
                                            data-survey-id="@item.SurveyId"
                                            type="button"
                                            title="Anuluj Ankietę">
                                        <span class="glyphicon glyphicon-ban-circle"></span>
                                    </button>
                                }
                                break;
                            case SurveyStatus.Approved:
                                if (User.IsInRole(Roles.Admin))
                                {
                                    <a asp-action="Maintain" asp-controller="Surveys" asp-route-id="@item.SurveyId"
                                       class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                    <button class="btn btn-default btn-sm"
                                            data-toggle="modal"
                                            data-target="#SrvCancelModal"
                                            data-survey-id="@item.SurveyId"
                                            type="button"
                                            title="Anuluj Ankietę">
                                        <span class="glyphicon glyphicon-ban-circle"></span>
                                    </button>
                                }
                                break;
                            case SurveyStatus.Cancelled:
                                if (User.IsInRole(Roles.Admin))
                                {
                                    <a asp-action="Maintain" asp-controller="Surveys" asp-route-id="@item.SurveyId"
                                       class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                    <button class="btn btn-default btn-sm"
                                            data-toggle="modal"
                                            data-target="#SrvRevertModal"
                                            data-survey-id="@item.SurveyId"
                                            type="button"
                                            title="Przywróć ankietę">
                                        <span class="glyphicon glyphicon-repeat"></span>
                                    </button>
                                }
                                break;
                            default:
                                break;
                        }
                    </div>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
