@using DoEko.ViewModels
@using DoEko.Models.DoEko
@using DoEko.Models.Identity

@model IEnumerable<DoEko.Models.DoEko.Survey>
<div class="table-responsive">
    <table class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPaid)
                </th>
                <th>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @item.Type.DisplayName()
                </td>
                <td>
                    @item.Status.DisplayName()
                </td>
                <td>
                    @if (item.IsPaid)
                    {
                        <span class="text-success">Tak</span>
                    }
                    else
                    {
                        <span class="text-danger">Nie</span>
                    }
                </td>
                <td>
                    ...
                </td>
                <td>
                    <div class="pull-right">
                        <a asp-action="Details" asp-controller="Surveys" asp-route-id="@item.InvestmentId"
                           class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a asp-action="Edit"    asp-controller="Surveys" asp-route-id="@item.InvestmentId"
                            class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span> 
                        </a>
                        <a asp-action="Cancel"  asp-controller="Surveys" asp-route-id="@item.InvestmentId"
                            class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </a>
                    </div>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
