@using DoEko.Models.Identity
@using DoEko.Controllers.Helpers
@model DoEko.Models.DoEko.Investment
 
@{
    ViewData["Title"] = "Szczegóły Inwestycji";
}

<!-- MODAL -->
@{ 
//modal main div    #SrvCancelModal
//modal title       #SrvCancelModalTitle
//modal form inside #SrvCancelModalForm
//modal form btns   .srvcancelmodal-btn-submit
//                  .srvcancelmodal-btn-cancel
}
<div class="modal fade" id="SrvCancelModal" tabindex="-1" role="dialog" aria-labelledby="SrvCancelModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close srvcancelmodal-btn-cancel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="SrvCancelModalTitle">Anulowanie ankiety</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("Survey/_SurveyCancelForm", new DoEko.ViewModels.SurveyViewModels.SurveyCancelViewModel())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger srvcancelmodal-btn-cancel" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-success srvcancelmodal-btn-submit">Potwierdź</button>
            </div>
        </div>
    </div>
</div>
<!--Modal 2-->
@{ 
//modal main div    #SrvCreateModal
//modal title       #SrvCreateModalTitle
//modal form inside #SrvCreateModalForm
//modal form btns   .SrvCreateModal-btn-submit
//                  .SrvCreateModal-btn-cancel
}
<div class="modal fade" id="SrvCreateModal" tabindex="-2" role="dialog" aria-labelledby="SrvCreateModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close srvcreatemodal-btn-cancel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="SrvCreateModalTitle">Nowe źródło</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("Survey/_SurveyCreateForm", new DoEko.ViewModels.SurveyViewModels.SurveyCreateViewModel() { InvestmentId = Model.InvestmentId })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger srvcreatemodal-btn-cancel" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-success srvcreatemodal-btn-submit">Dodaj</button>
            </div>
        </div>
    </div>
</div>
<!--Modal 3-->
@{
//modal main div    #SrvSubmitModal
//modal form btns   .SrvCreateModal-btn-submit
//                  .SrvCreateModal-btn-cancel
}
<div class="modal fade" id="SrvSubmitModal" tabindex="-2" role="dialog" aria-labelledby="SrvSubmitModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close srvsubmitmodal-btn-cancel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="SrvSubmitModalTitle">Koniec wprowadzania</h4>
            </div>
            <div class="modal-body">
                <p>
                    Koniec wprowadzania oznacza, że nie będzie można wprowadzać więcej zmian w tej ankiecie. Następnie zostanie ona wysłana do weryfikacji. W przypadku błędów lub brakujących informacji, ankieta zostanie "odrzucona" i trafi ponownie do edycji w statusie "Do poprawy".
                    W momencie gdy wszystkie ankiety tej inwestycji otrzymają status "Do weryfikacji" lub "Anulowana", cała inwestycja zmieni status inspekcji na "Do zatwierdzenia".
                </p>
                <form id="SurveySubmitModalForm" hidden>
                    <fieldset>
                        <input Id="SurveyId" type="hidden" />
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger srvsubmitmodal-btn-cancel" data-dismiss="modal">Nie</button>
                <button type="button" class="btn btn-success srvsubmitmodal-btn-submit">Tak, Zakończ</button>
            </div>
        </div>
    </div>
</div>
<!--Modal 4-->
@{
//modal main div    #SrvApprovalModal
//modal form btns   .SrvApprovalModal-btn-submit
//                  .SrvApprovalModal-btn-cancel
}
<div class="modal fade" id="SrvApprovalModal" tabindex="-2" role="dialog" aria-labelledby="SrvApprovalModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close srvapprovalmodal-btn-cancel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="SrvApprovalModalTitle">Akceptacja / Odrzucenie ankiety</h4>
            </div>
            <div class="modal-body">
                <p>
                    Akceptując ankietę kończysz etap wprowadzania / poprawy danych dla tej inwestycji. 
                    Informujesz tym samym inspektora, że jego praca dla tej inwestycji została zakończona.
                </p>
                <form id="SurveyApprovalModalForm" hidden>
                    <fieldset>
                        <input Id="SurveyId" type="hidden" />                        
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger srvapprovalmodal-btn-cancel" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-success srvapprovalmodal-btn-submit">Zatwierdź</button>
            </div>
        </div>
    </div>
</div>
<!--Modal 5-->
@{
//modal main div    #SrvRejectModal
//modal form btns   .SrvRejectModal-btn-submit
//                  .SrvRejectModal-btn-cancel
}
<div class="modal fade" id="SrvRejectModal" tabindex="-2" role="dialog" aria-labelledby="SrvRejectModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close srvrejectmodal-btn-cancel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="SrvRejectModalTitle">Odrzucenie ankiety</h4>
            </div>
            <div class="modal-body">
                <p>
                    Odrzucając ankietę informujesz inspektora, że w ankiecie znajdują się błędy lub brakujące informacje.
                </p>
                <form id="SurveyRejectModalForm">
                    <fieldset>
                        <input id="SurveyId" name="SurveyId" type="hidden" value="">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Uwagi</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="4" id="RejectComments" name="RejectComments"
                                          data-val="true" data-val-required="Pole Uwagi jest obowiązkowe"></textarea>
                                <span class="text-danger field-validation-valid" data-valmsg-for="RejectComments" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger  srvrejectmodal-btn-cancel" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-success srvrejectmodal-btn-submit" title="Potwierdź odrzucenie ankiety">Potwierdź</button>
            </div>
        </div>
    </div>
</div>
<!--Modal 6-->
@{
//modal main div    #SrvRevertModal
//modal form btns   .SrvRevertModal-btn-submit
//                  .SrvRevertModal-btn-cancel
}
@if (User.IsInRole(Roles.Admin))
{
<div class="modal fade" id="SrvRevertModal" tabindex="-2" role="dialog" aria-labelledby="SrvRevertModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close srvrevertmodal-btn-cancel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="SrvRevertModalTitle">Przywrócenie ankiety</h4>
            </div>
            <div class="modal-body">
                <p>
                    Przywracając ankietę, ustawisz jej status ponownie "Nowa" oraz status inwestycji (jeśli była zakończona) na "w trakcie realizacji"
                </p>
                <form id="SurveyRevertModalForm">
                    <fieldset>
                        <input Id="SurveyId" type="hidden" />
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger  srvrevertmodal-btn-cancel" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-success srvrevertmodal-btn-submit" title="Potwierdź przywrócenie ankiety">Potwierdź</button>
            </div>
        </div>
    </div>
</div>
}
@*//modal main div    #SrvRevertModal
//modal form btns   .SrvRevertModal-btn-submit
//                  .SrvRevertModal-btn-cancel
*@
@if (User.IsInRole(Roles.Admin))
{
<div class="modal fade" id="SrvMoveModal" tabindex="-2" role="dialog" aria-labelledby="SrvMoveModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close srvMovemodal-btn-cancel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="SrvMoveModalTitle">Przeniesienie ankiety</h4>
            </div>
            <div class="modal-body">
                <p>
                    Przenosząc ankietę pamiętaj, że część danych jest zapisana na poziomie inwestycji (np. powierzchnia budynku)
                </p>
                <form id="SurveyMoveModalForm" class="form-horizontal">
                    <fieldset>
                        <input id="SurveyId" name="SurveyId" type="hidden" value="">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Nowa Inwestycja</label>
                            <div class="col-sm-8">
                                <select asp-for="InvestmentId" class="form-control" asp-items="@ViewBag.InvestmentId"></select>
                                <span asp-validation-for="InvestmentId" class="text-danger"></span>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger  srvmovemodal-btn-cancel" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-success srvmovemodal-btn-submit" title="Potwierdź Przeniesienie ankiety">Zapisz</button>
            </div>
        </div>
    </div>
</div>
}
<!-- Navigation -->
@if (User.IsInRole(Roles.Inspector))
{
    <ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a asp-action="List" asp-controller="Investments">Moje inspekcje</a></li>
        <li class="active">Inwestycja @(Model.Address.FirstLine + " " + Model.Address.SecondLine)</li>
    </ol>
}
else
{
    <ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a asp-action="Index" asp-controller="Projects">Lista Projektów</a></li>
        <li><a asp-action="Details" asp-controller="Projects" asp-route-Id="@Model.Contract.ProjectId">Projekt @Html.DisplayFor(model => model.Contract.Project.ShortDescription)</a></li>
        <li><a asp-action="Details" asp-controller="Contracts" asp-route-Id="@Model.ContractId">Umowa @Html.DisplayFor(model => model.Contract.Number)</a></li>
        <li class="active">Inwestycja @(Model.Address.FirstLine + " " + Model.Address.SecondLine)</li>
    </ol>
}
<!--Title-->
<h2><small>Inwestycja</small> @Model.Address.SingleLine</h2>
<div class="panel-group" id="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading wg-panel-heading clearfix" 
             role="tab" 
             id="heading-details" 
             data-toggle="collapse"
             data-target="#details"
             data-parent="#panel-group" 
             href="#details" 
             aria-expanded="true" 
             aria-controls="details">
            
            <h4 class="panel-title wg-panel-title pull-left">
                Dane podstawowe
            </h4>       
            @{ 
                string LinkClasses = "btn btn-primary btn-sm pull-right wg-panel-header-button investment-details-edit";
                if (Model.InspectionStatus == DoEko.Models.DoEko.InspectionStatus.Approved ||
                    Model.InspectionStatus == DoEko.Models.DoEko.InspectionStatus.Completed ||
                    Model.InspectionStatus == DoEko.Models.DoEko.InspectionStatus.Submitted ||
                    Model.Status == DoEko.Models.DoEko.InvestmentStatus.InReview)
                {
                    LinkClasses = LinkClasses + " disabled";
                    ViewBag.ViewMode = true;
                }
            }     
            @*<a asp-action="Edit" asp-controller="Investments"
               asp-route-Id="@Model.InvestmentId"
               asp-route-ReturnUrl="@Url.Action("Details","Investments", new { Id = Model.InvestmentId }, null,null,"heading-details")"
               class="@LinkClasses"
               title="Edytuj">
            </a>*@     
            <button type="button" class="@LinkClasses" data-investmentid="@Model.InvestmentId" title="Edytuj">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
        </div>
        <div id="details" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-details">
            <div class="panel-body">   
                @await Component.InvokeAsync("InvestmentDetails", new { investmentId = Model.InvestmentId, viewMode = ViewMode.Display })
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading wg-panel-heading clearfix" 
             role="tab" 
             id="heading-owners"
             data-toggle="collapse" 
             data-target="#owners"
             data-parent="#panel-group" 
             href="#owners" 
             aria-expanded="false" 
             aria-controls="owners">

            <h4 class="panel-title wg-panel-title pull-left"> 
                Właściciele
            </h4>

            <div class="btn-group pull-right">
                <a asp-action="Create"
                   asp-controller="InvestmentOwners"
                   asp-route-InvestmentId="@Model.InvestmentId"
                   asp-route-ReturnUrl="@Url.Action("Details","Investments", new { Id = Model.InvestmentId }, null,null,"heading-owners")"
                   class="@LinkClasses">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div id="owners" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-owners">
            <div class="panel-body">
                @Html.Partial("_InvestmentOwnerListPartial", Model.InvestmentOwners)
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading wg-panel-heading clearfix"
             role="tab"
             id="heading-surveys"
             data-toggle="collapse"
             data-target="#surveys"
             data-parent="#panel-group"
             href="#surveys"
             aria-expanded="false"
             aria-controls="surveys">

            <h4 class="panel-title wg-panel-title pull-left" style="padding-top: 7.5px;">
                Źródła (Ankiety)
            </h4>
            <div class="btn-group pull-right">
                @if (Model.InspectionStatus == DoEko.Models.DoEko.InspectionStatus.Submitted ||
                     Model.InspectionStatus == DoEko.Models.DoEko.InspectionStatus.Completed ||
                     Model.Status == DoEko.Models.DoEko.InvestmentStatus.InReview)
                {
                    <button class="btn btn-primary btn-sm disabled"
                            type="button"
                            disabled
                            title="Nie można dodawać nowych ankiet 
dla zakończonej inwestycji lub inwestycji w akceptacji">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                }
                else
                {
                    <button class="btn btn-primary btn-sm"
                            data-toggle="modal"
                            data-target="#SrvCreateModal"
                            type="button">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                }
            </div>
        </div>
        <div id="surveys" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-survey">
            <div class="panel-body">
                <table class="table table-striped dt-responsive dataTable nowrap no-footer dtr-inline collapsed"
                       id="SurveyListTable"
                       style="width:100%;"
                       data-investmentid="@Model.InvestmentId" data-admin="@User.IsInRole(Roles.Admin).ToString()"></table>
@*                @Html.Partial("_SurveyListPartial", Model.Surveys)*@
            </div>
        </div>
    </div>
</div>

@section stylesheets{
    @{await Html.RenderPartialAsync("_DataTablesCSSPartial");}
}
@section scripts{
    @{await Html.RenderPartialAsync("_DataTablesScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_InvestmentDetailsScriptsPartial");}
}