@using DoEko.Models.DoEko.Survey
@using DoEko.Controllers.Extensions
@using Microsoft.AspNetCore.Identity
@using DoEko.Models.Identity
@model DoEko.ViewModels.ReportsViewModels.ProgressSummaryViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Statystyki dla źródeł";
}

<!-- Navigation -->
<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li>Raporty</li>
    <li class="active">Statystyki dla źródeł</li>
</ol>

<!--Title-->
<h2>Statystyki dla źródeł</h2>
<div class="container" style="border-collapse:collapse; border-style: groove; border-width: thin;">
<div class="row" style="background-color: #f6f6f6; border-bottom-style: groove; border-bottom-width: thin;">
    <div class="col-sm-3">
        <div class="row"><div class="col-sm-12"><label class="control-label">Typ umowy</label></div></div>
        <div class="row"><div class="col-sm-12"><label class="control-label">Projekt</label></div></div>
    </div>
    <div class="col-sm-2">
        <div class="row"><div class="col-sm-12"><label class="control-label">Numer</label></div></div>
        <div class="row"><div class="col-sm-12"><label class="control-label">Status</label></div></div>
    </div>
    <div class="col-sm-2">
        <div class="row"><div class="col-sm-12"><label class="control-label">Data podpisania</label></div></div>
    </div>
    <div class="col-sm-2">
        <div class="row"><div class="col-sm-12"><label class="control-label">Termin realizacji</label></div></div>
    </div>
    <div class="col-sm-3">
        <div class="row"><div class="col-sm-12"><label class="control-label">Liczba inspekcji (źródeł)</label></div></div>
    </div>
</div>
@{  int i = 0; }
@foreach (var item in Model.Contracts)
{
    i++;
    // Background
    string background = ((i % 2) == 0) ? "background-color: #f6f6f6;" : "background-color: #ffffff;";
    string collapsedDivId = "DetailsForRow" + i.ToString();
<div class="row" style='@(background)'>
    <div class="col-sm-12">
        <div class="row accordion-toggle" data-toggle="collapse" data-target="#@collapsedDivId" style="cursor:pointer;">
            <div class="col-sm-3">
                <div class="row"><div class="col-sm-12">@item.Contract.Type.DisplayName()</div></div>
                <div class="row"><div class="col-sm-12">@item.Contract.Project.ShortDescription</div></div>
            </div>
            <div class="col-sm-2">
                <div class="row"><div class="col-sm-12">@item.Contract.Number</div></div>
                <div class="row"><div class="col-sm-12">@item.Contract.Status.DisplayName()</div></div>
            </div>
            <div class="col-sm-2">
                <div class="row"><div class="col-sm-12">@item.Contract.ContractDate.ToShortDateString()</div></div>
            </div>
            <div class="col-sm-2">
                <div class="row"><div class="col-sm-12">@item.Contract.FullfilmentDate.Value.ToShortDateString()</div></div>
            </div>
            <div class="col-sm-3">
                <div class="row"><div class="col-sm-12">@item.InvestmentCount (@item.Surveys.Sum(s => s.Total))</div></div>
            </div>
        </div>
        <div class="row accordian-body collapse" id="@collapsedDivId">
            <div class="col-sm-12" style="font-size: smaller;">
                <br/>
                @{ 
                    //header
                }
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3"><label class="control-label">Źródło</label></div>
                    <div class="col-sm-1 text-right"><label class="control-label">Ogólnie</label></div>
                    <div class="col-sm-1 text-right"><label class="control-label" title="Nie rozpoczęto pracy
(inwestycja nie przypisana do inspektora)">Nowych(Nie przyp.)</label></div>
                    <div class="col-sm-1 text-right"><label class="control-label">Anulowanych</label></div>
                    <div class="col-sm-1 text-right"><label class="control-label" title="Rozpoczęto wprowadzanie danych do ankiety
ale nie wysłano do akceptacji
lub ankieta jest poprawiana po odrzuceniu.">W trakcie</label></div>
                    <div class="col-sm-1 text-right"><label class="control-label" title="Ankieta została odrzucona
ale nie wprowadzono jeszcze żadnych poprawek.">Do poprawy</label></div>
                    <div class="col-sm-1 text-right"><label class="control-label" title="Inspektor wysłał ankietę do akceptacji
i czeka ona na weryfikację przez administratora">W akcept.</label></div>
                    <div class="col-sm-1 text-right"><label class="control-label">Gotowych</label></div>
                    <div class="col-sm-1"></div>
                </div>
                @{ //body
                }
                @foreach (var ss in item.Surveys)
                {
                    string rseType = "";
                    switch (ss.Type)
                    {
                        case SurveyType.CentralHeating:
                            rseType = ((SurveyRSETypeCentralHeating)ss.RSEType).DisplayName();
                            break;
                        case SurveyType.HotWater:
                            rseType = ((SurveyRSETypeHotWater)ss.RSEType).DisplayName();
                            break;
                        case SurveyType.Energy:
                            rseType = ((SurveyRSETypeEnergy)ss.RSEType).DisplayName();
                            break;
                        default:
                            break;
                    }
                    string notStarted = ss.NotStarted.ToString() + '(' + ss.NotStartedNotassigned.ToString() + ')';
                    
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">@(ss.Type.DisplayName() + '|' + rseType)</div>
                        <div class="col-sm-1 text-right">@ss.Total</div>
                        <div class="col-sm-1 text-right">@notStarted</div>
                        <div class="col-sm-1 text-right">@ss.Cancelled</div>
                        <div class="col-sm-1 text-right">@ss.Draft</div>
                        <div class="col-sm-1 text-right">@ss.Rejected</div>
                        <div class="col-sm-1 text-right">@ss.InApproval</div>
                        <div class="col-sm-1 text-right">@ss.Completed</div>
                        <div class="col-sm-1"></div>
                    </div>
                }
                @{ 
                    string notStartedSum = item.Surveys.Sum(s => s.NotStarted).ToString() + '(' + item.Surveys.Sum(s => s.NotStartedNotassigned).ToString() + ')';
                }
                <div class="row" style="font-weight: bold;">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-1 text-right" style="border-top-style: groove;">@item.Surveys.Sum(s=>s.Total)</div>
                    <div class="col-sm-1 text-right" style="border-top-style: groove;">@notStartedSum</div>
                    <div class="col-sm-1 text-right" style="border-top-style: groove;">@item.Surveys.Sum(s=>s.Cancelled)</div>
                    <div class="col-sm-1 text-right" style="border-top-style: groove;">@item.Surveys.Sum(s=>s.Draft)</div>
                    <div class="col-sm-1 text-right" style="border-top-style: groove;">@item.Surveys.Sum(s=>s.Rejected)</div>
                    <div class="col-sm-1 text-right" style="border-top-style: groove;">@item.Surveys.Sum(s=>s.InApproval)</div>
                    <div class="col-sm-1 text-right" style="border-top-style: groove;">@item.Surveys.Sum(s=>s.Completed)</div>
                    <div class="col-sm-1"></div>
                </div>
                <br/>
            </div>            
        </div>
    </div>
</div>
}
</div>