@model DoEko.ViewModels.UserViewModel.UserIndexViewModel

@{
    ViewData["Title"] = "Lista kont użytkowników";
}

<h2>@ViewData["Title"].</h2>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Dodaj", "Create", new { returnUrl = "/User"}, new { @class="btn btn-primary" })
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "User", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label class="control-label">Znajdź po nazwie: </label>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Wyświetl wg roli:</label>
                @Html.DropDownList("RoleId", ViewBag.RoleIdList as SelectList, string.Empty, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-default">Szukaj</button>

        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nazwisko i Imię</th>
                    <th>@Html.ActionLink("Nazwa", "Index", new { sortOrder=ViewBag.NameSortParam, currentFilter=ViewBag.CurrentFilter, currentRole=ViewBag.CurrentRole })</th>
                    <th>@Html.ActionLink("E-mail", "Index", new { sortOrder=ViewBag.MailSortParam, currentFilter=ViewBag.CurrentFilter, currentRole=ViewBag.CurrentRole })</th>
                    <th>Role</th>
                    @*<th>Zablokowany</th>
                    <th>Zablokowane do</th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.users)
            {
                    <tr>
                        <td>@(item.LastName + " " + item.FirstName)</td>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>
                            <table>
                                <tbody>
                                    @foreach (var role in item.RoleNames)
                                {
                                        <tr><td>@role</td></tr>
                                }
                                </tbody>
                            </table>
                        </td>
                        @*
                        <td>@item.LockoutEnabled</td>
                        <td>@item.LockoutEnd</td>*@

                        <td>
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.Id } ) |
                            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
                        </td>
                    </tr>
            }
            </tbody>
        </table>
    </div>
</div>