@model IEnumerable<DoEko.Models.DoEko.Company>

@{
    ViewData["Title"] = "Spółki";
}

<!--Navigation-->
<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Str. Domowa</a></li>
    <li class="active">Lista spółek</li>
</ol>

<!--Title-->
<h2>Lista Spółek</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<p>
    <a asp-action="Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Utwórz Nową</a>
</p>


<table class="table table-responsive" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressId)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @Html.DisplayFor(modelItem => item.Name2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxId)
            </td>
            <td>
                <partial name="../Shared/Address/_AddressDetailPartial" model="item" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompanyId">Zmień</a> |
                <a asp-action="Details" asp-route-id="@item.CompanyId">Szczegóły</a> |
                
                <a asp-action="Delete" asp-route-id="@item.CompanyId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
