@model DoEko.Models.DoEko.Project
<table class="table table-responsive table-striped table-condensed table-hover">
    <caption id="FICaption" hidden>
        <input id="FIObjectType" name="FIObjectType" type="hidden" value="@nameof(Model)" />
        <input id="FIObjectId"   name="FIObjectId"   type="hidden" value="@Model.ProjectId" />
        <input id="FIreturnUrl"  name="FIreturnUrl"  type="hidden" value="@Url.Action("Details","Projects", new { Id = Model.ProjectId }, null,null,"files")" />
        <input id="FIFile"       name="FIFile[]"     type="file"   multiple class="file-loading">
        <div id="FIResultError" style="margin-top:10px;display:none"></div>
        <div id="FIResultSuccess" class="alert alert-success fade in" style="margin-top:10px;display:none"></div>
    </caption>

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Attachments.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(model => model.Attachments.FirstOrDefault().ChangedAt)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model.Attachments.Count > 0)
{
    @foreach (var file in Model.Attachments)
    {
        <tr>
            <td>
                <a href="@file.Url" title="@file.Name">
                    <span class="glyphicon glyphicon-file"></span> @Html.DisplayFor(modelitem => file.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => file.ChangedAt)
            </td>
            <td>
                <a asp-action="Delete" asp-controller="Files" 
                   asp-route-Type="Project" 
                   asp-route-Id="@Model.ProjectId"
                   asp-route-Name="@file.Name" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
    }
}
else
{
    <tr><td colspan="3">Nie za³¹czono jeszcze ¿adnych plików</td></tr>
}
    </tbody>
</table>