@model DoEko.Models.DoEko.Project
@using DoEko.ViewModels
@{
    ViewData["Title"] = "Szczegóły Projektu";
}
<!-- Navigation -->
<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Str. Domowa</a></li>
    <li><a asp-action="Index" asp-controller="Projects">Lista Projektów</a></li>
    <li class="active">Projekt @Html.DisplayFor(model => model.ShortDescription)</li>
</ol>

<!--Title-->
<h2><small>Projekt</small> @Html.DisplayFor(model => model.ShortDescription)</h2>

<!--Panels-->
<div class="panel-group" id="panel-group"  role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading wg-panel-heading clearfix" role="tab" id="heading-details" data-toggle="collapse" data-parent="#panel-group" data-target="#details">
            <h4 class="panel-title wg-panel-title pull-left">
                    Informacje szczegółowe
            </h4>
            <div class="btn-group pull-right">
                <a asp-action="Edit"
                   asp-controller="Projects"
                   asp-route-Id="@Model.ProjectId"
                   asp-route-ReturnUrl="@Url.Action("Details","Projects", new { Id = Model.ProjectId }, null,null,"details")"
                   class="btn btn-primary btn-sm wg-panel-header-button">
                   <span class="glyphicon glyphicon-edit"></span>
                </a>
            </div>
        </div>
        <div id="details" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-details">
            <div class="panel-body">
                @await Html.PartialAsync("_ProjectDetailsPartial")
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading wg-panel-heading clearfix" role="tab" id="heading-subprojects" data-toggle="collapse" data-parent="#panel-group" data-target="#subprojects">
            <h4 class="panel-title wg-panel-title pull-left">
                    Podprojekty
            </h4>
            <div class="btn-group pull-right">
                <a asp-action="Create"
                   asp-controller="Projects"
                   asp-route-ParentId="@Model.ProjectId"
                   asp-route-ReturnUrl="@Url.Action("Details","Projects", new { Id = Model.ProjectId }, null,null,"subprojects")"
                   class="btn btn-primary btn-sm wg-panel-header-button">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div id="subprojects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-subprojects">
@*          <div class="panel-body">*@
            @await Html.PartialAsync("ProjectListPartial")
@*          </div>*@
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading wg-panel-heading clearfix" role="tab" id="heading-contracts" data-toggle="collapse" data-parent="#panel-group" data-target="#contracts">
            <h4 class="panel-title wg-panel-title pull-left" style="padding-top:7.5px;">
                Umowy
            </h4>
            <div class="btn-group pull-right">
                <a asp-action="Create"
                   asp-controller="Contracts"
                   asp-route-ProjectId="@Model.ProjectId"
                   asp-route-ReturnUrl="@Url.Action("Details","Projects", new { Id = Model.ProjectId }, null,null,"contracts")"
                   class="btn btn-primary btn-sm wg-panel-header-button">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div id="contracts" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-contracts">
            @await Html.PartialAsync("ProjectContractsListPartial", Model.Contracts)
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading wg-panel-heading clearfix" role="tab" id="heading-files" data-toggle="collapse" data-parent="#panel-group" data-target="#files">
            <h4 class="panel-title pull-left wg-panel-title">
                Załączniki
            </h4>
            <div class="btn-group pull-right">
                <button type="button" 
                        id="FIToggle"
                        class="btn btn-primary btn-sm wg-panel-header-button" 
                        title="Załącz pliki">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button type="button"
                        id="FIClose"
                        class="btn btn-danger btn-sm wg-panel-header-button"
                        title="Załącz pliki" style="display:none">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
        <div id="files" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-files">
            <div  class="panel-body">
              @await Html.PartialAsync("_ProjectFileListPartial", Model)
            </div>
          
        </div>
    </div>
</div>

@section Scripts {

<script>
    
    $("#FIToggle").click(function () {
        $("#FIToggle").hide();
        $("#FIClose").show();
        $("#FICaption").show();        
    });

    $("#FIClose").click(function () {
        $("#FIToggle").show();
        $("#FIClose").hide();
        $("#FICaption").hide();
    });

    $("#FIFile").fileinput({
        language: "pl",
        uploadUrl: "/files/upload", // server upload action
        uploadExtraData: function () {
            return {
                Type: $("#FIObjectType").val(),
                Id: $("#FIObjectId").val(),
                ReturnUrl: $("#FIReturnUrl").val()
            }
        },
        uploadAsync: false,
        showPreview: true,
        showClose: true,
        browseOnZoneClick: true,
        showBrowse: false,
        //allowedFileExtensions: ['jpg', 'png', 'gif'],
        maxFileCount: 5,
        maxFileSize: 10000,
        elErrorContainer: '#FIResultError',

        progressClass: "progress-bar progress-bar-success active"
    //}).on('filebatchpreupload', function (event, data, id, index) {
    //    $('#FIResultSuccess').html('<h4>Upload Status</h4><ul></ul>').hide();
    //}).on('fileuploaded', function (event, data, id, index) {
    //    var fname = data.files[index].name,
    //        out = '<li>' + 'Uploaded file # ' + (index + 1) + ' - ' +
    //            fname + ' successfully.' + '</li>';
    //    $('#FIResultSuccess ul').append(out);
    //    $('#FIResultSuccess').fadeIn('slow');
    }).on('filebatchuploadsuccess', function (event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        window.location.reload();
    });;
</script>

}