@using DoEko.Controllers.Extensions
@model DoEko.Models.DoEko.Project
<div class="table-responsive">
    <table class="table table-hover table-condensed table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ChildProjects)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ProjectId">
                            @Html.DisplayFor(modelItem => item.ProjectId)
                        </a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ProjectId">
                            @Html.DisplayFor(modelItem => item.ShortDescription)
                        </a>
                    </td>
                    <td>
                        @item.Status.DisplayName()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProjectId">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a> |
                        <a asp-action="Unlink" 
                           asp-route-Id="@item.ProjectId" 
                           asp-route-ReturnUrl="@Url.Action("Details","Projects", new { Id = item.ParentProjectId }, null,null,"details")">
                            Odepnij
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
