@model DoEko.Models.DoEko.Project

@{
    ViewData["Title"] = "Odpiêcie projektu";
}

<h2>Odpiêcie</h2>

<h3>Czy jesteœ pewien, ¿e chcesz odpi¹æ ten projekt?</h3>
<div>
    <h4>Projekt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RealEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RealEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RealStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RealStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UEFundsLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UEFundsLevel)
        </dd>
    </dl>
    
    <form asp-action="Unlink" asp-route-ReturnUrl="@ViewData["ReturnUrl"]">
        <div class="form-actions no-color">
            <input type="submit" value="Odepnij" class="btn btn-primary" /> |
            <a href="@ViewData["ReturnUrl"]" class="btn btn-default">Anuluj</a>               
        </div>
    </form>
</div>
