@model DoEko.ViewModels.InvestmentOwnerViewModels.CreateViewModel

@{
    ViewData["Title"] = "Nowa Inwestycja - Właściciele";
}

<h2>Nowa</h2>

<form asp-action="Create" asp-route-ReturnUrl="@ViewBag.ReturnUrl">
    <div class="form-horizontal">
        <h4>Inwestycja | Właściciele</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        
        <input type="hidden" asp-for="InvestmentId" />
        <input type="hidden" asp-for="ContractId" />
        
        @Html.Partial("_BPPersonFormPartial.cshtml", Model)

        <div class="form-group">
            <label asp-for="Sponsor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="hidden" asp-for="Sponsor" />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="SponsorGroup" id="SGyes"
                               autocomplete="off"
                               checked>
                        Tak
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="SponsorGroup" id="SGno"
                               autocomplete="off">
                        Nie
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="SameLocation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="hidden" asp-for="SameLocation" />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="AddressGroup" id="AGyes" 
                                autocomplete="off" 
                                checked >
                        Tak
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="AddressGroup" id="AGno" 
                                autocomplete="off" >
                        Nie
                    </label>
                </div>
            </div>
        </div>

        <div id="AddressForm" class="collapse">
            @Html.Partial("../Shared/Address/_AddressFormPartial.cshtml", Model)
        </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                    @if (string.IsNullOrEmpty(ViewBag.ReturnUrl))
                    {
                        <a asp-action="Details" asp-controller="Contract" 
                           class="btn btn-default"
                           asp-route-Id="@Model.ContractId">
                            Anuluj
                        </a>

                    }
                    else
                    {
                        <a href="@ViewBag.ReturnUrl" class="btn btn-default">Anuluj</a>


                    }
                </div>
            </div>
        </div>
</form>

@section Scripts {
   @{await Html.RenderPartialAsync("../Shared/Address/_AddressScriptPartial.cshtml");}
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $("#AGyes").change(function () {
                $('#AddressForm').collapse('hide');
                $('#SameLocation').val('True')
            })
            $("#AGno").change(function () {
                $('#AddressForm').collapse('show');
                $('#SameLocation').val('False')
            })

            $("#SGyes").change(function () {
                $(this).parent().parent().siblings('input').val('True');
            })
            $("#SGno").change(function () {
                $(this).parent().parent().siblings('input').val('False');
            })

        })
    </script>
}
