@model IList<DoEko.Models.DoEko.Payment>

@{
    ViewData["Title"] = "Płatności";
}

<!-- Navigation -->
<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Str. Domowa</a></li>
    <li><a asp-action="Index" asp-controller="Projects">Lista Projektów</a></li>
    <li><a asp-action="Details" asp-controller="Projects" asp-route-Id="@ViewBag.ProjectId">Projekt @ViewBag.ShortDescription)</a></li>
    <li><a asp-action="Details" asp-controller="Contracts" asp-route-Id="@ViewBag.ContractId">Umowa @ViewBag.ContractNumber)</a></li>
    <li class="active">Wpłaty z pliku</li>
</ol>
<!--Title-->
<h2>Lista nieprzypisanych wpłat</h2>

<form asp-action="AssignInvestment" asp-controller="Payments" method="post">
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Zapisz">
        <a asp-action="Details" asp-controller="Contracts" asp-route-Id="@ViewBag.ContractId" class="btn btn-default">Anuluj</a>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container-fluid pre-scrollable" style="padding-left:unset;padding-right:unset;">

        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th colspan="3">Szczegóły wpłaty</th>
                    <th colspan="3">Inwestycja</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr id="@("Record[" + i.ToString() + "]")">
                 
                        <th style="vertical-align:middle">@(i+1)</th>
                        <th class="small">
                            <table>
                                <tbody>
                                    <tr><td>@Html.DisplayNameFor(model => Model[i].PaymentDate)</td></tr>
                                    <tr><td>@Html.DisplayNameFor(model => Model[i].Amount)</td></tr>
                                    <tr><td>Nadawca</td></tr>
                                    <tr><td>Tytuł</td></tr>
                                    @*@Html.DisplayNameFor(model => model.NotNeeded)*@
                                </tbody>
                            </table>
                        </th>
                        <td class="small">
                            <table>
                                <tbody>
                                    <tr><td>@Html.DisplayFor(model => Model[i].PaymentDate)</td></tr>
                                    <tr><td>@Html.DisplayFor(model => Model[i].Amount)                    </td></tr>
                                    <tr><td>@Model[i].SourceRow.Split(';')[7].Replace("Nazwa nadawcy:", "").ToString()</td></tr>
                                    <tr><td>@Model[i].SourceRow.Split(';')[8].Replace("Tytuł:", "").ToString()</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="vertical-align:middle">
                            <input asp-for="@Model[i].PaymentId" type="hidden">
                            <input asp-for="@Model[i].ContractId" type="hidden">
                            <input asp-for="@Model[i].Amount" type="hidden">
                            <input asp-for="@Model[i].PaymentDate" type="hidden">
                            <input asp-for="@Model[i].SourceRow" type="hidden">
                            <input asp-for="@Model[i].PostingDate" type="hidden">

                            <select asp-for="@Model[i].InvestmentId" asp-items="@ViewBag.DLInvestments" 
                                    class="form-control text-center">
                                <option value="">Wybierz Inwestycję</option>
                            </select>
                        </td>
                        <td>
                            
                            <div class="btn-group-vertical" data-toggle="buttons" >
                                <label class="btn btn-default btn-xs" >
                                    <input asp-for="@Model[i].RseFotovoltaic" type="checkbox" autocomplete="off">
                                    Inst. Fotowolt.
                                </label>

                                <label class="btn btn-default btn-xs" >
                                    <input asp-for="@Model[i].RseHeatPump"
                                           type="checkbox" autocomplete="off">
                                    Pompa ciepła
                                </label>

                                <label class="btn btn-default btn-xs" >
                                    <input asp-for="@Model[i].RseSolar"
                                           type="checkbox" autocomplete="off">
                                    Inst. Solar.
                                </label>
                            </div>
                        </td>
                        <td style="vertical-align:middle">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default btn-sm" title="Usuń wpłatę">
                                    <input asp-for="@Model[i].NotNeeded"
                                           type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
