@model IList<DoEko.Models.DoEko.Payment>

@{
    ViewData["Title"] = "Płatności";
}

<!-- Navigation -->
<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Str. Domowa</a></li>
    <li><a asp-action="Index" asp-controller="Projects">Lista Projektów</a></li>
    <li><a asp-action="Details" asp-controller="Projects" asp-route-Id="@ViewBag.ProjectId">Projekt @ViewBag.ShortDescription)</a></li>
    <li><a asp-action="Details" asp-controller="Contracts" asp-route-Id="@ViewBag.ContractId">Umowa @ViewBag.ContractNumber)</a></li>
    <li class="active">Wpłaty z pliku</li>
</ol>
<!--Title-->
<h2>Lista nieprzypisanych wpłat</h2>

<form asp-action="AssignInvestment" 
      asp-controller="Payments" 
      method="post">
    
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Zapisz">
        <a asp-action="Details" asp-controller="Contracts" asp-route-Id="@ViewBag.ContractId" class="btn btn-default">Anuluj</a>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row" style="background-color: #f6f6f6; min-height:30px;">
        <div class="col-sm-12">
            <div class="row"><div class="col-sm-12"><br /></div></div>
            <div class="row">
                <div class="col-sm-5"><div class="row"><div class="col-sm-12"><label class="control-label">Szczegóły wpłat</label></div></div></div>
                <div class="col-sm-3"><div class="row"><div class="col-sm-12"><label class="control-label">Przypisanie inwestycji</label></div></div></div>
                <div class="col-sm-3"><div class="row"><div class="col-sm-12"><label class="control-label">Źródło</label></div></div></div>
                <div class="col-sm-1"><div class="row"><div class="col-sm-12"><label class="control-label">Usuń</label></div></div></div>
            </div>
            <div class="row"><div class="col-sm-12"><br/></div></div>
        </div>
    </div>
    <div class="row container-fluid pre-scrollable" style="padding-left:unset;padding-right:unset;">
        <div class="col-sm-12">
            @{
                char separator = ';';
                if (Model.First().SourceRow != null)
                {
                    if (Model.First().SourceRow.Split(separator).Length < 12)
                    {
                        separator = ',';
                    }
                }

            }
            @for (int i = 0; i < Model.Count; i++)
            {

                string background = ((i % 2) == 0) ? "background-color: #f6f6f6;" : "background-color: #ffffff;";
                string payer = "";
                string paytitle = "";
                string payaddress = "";
                if (Model[i].SourceRow != null)
                {
                    var arr = Model[i].SourceRow.Split(separator);

                    payer = arr.Length >= 7 ? arr[7].Replace("Nazwa nadawcy:", "").ToString() : "";
                    payaddress = arr.Length >= 8 ? arr[8].Replace("Adres nadawcy:", "").ToString() : "";
                    paytitle = arr.Length >= 9 ? arr[9].Replace("Tytuł:","").ToString() : "";
                }


                <div class="row" id='@("Record[" + i.ToString() + "]")' style="@(background)">
                    <div class="col-sm-5" style="font-size: smaller">
                        <div class="row"><div class="col-sm-12"><br /></div></div>    
                        <div class="row">
                            <div class="col-sm-3"><label class="control-label">Data wpłaty</label></div>
                            <div class="col-sm-8">@Model[i].PaymentDate.ToShortDateString()</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"><label class="control-label">Kwota</label></div>
                            <div class="col-sm-8">@Model[i].Amount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("pl-PL"))</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"><label class="control-label">Nadawca</label></div>
                            <div class="col-sm-8">@payer</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"><label class="control-label">Adres</label></div>
                            <div class="col-sm-8">@payaddress</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"><label class="control-label">Tytuł</label></div>
                            <div class="col-sm-8">@paytitle</div>
                        </div>      
                        <div class="row"><div class="col-sm-12"><br/></div></div>                  
                    </div>
                    <div class="col-sm-3">
                        <div class="row"><div class="col-sm-12"><br/></div></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input asp-for="@Model[i].PaymentId" type="hidden">
                                <input asp-for="@Model[i].ContractId" type="hidden">
                                <input type="text" class="form-control input-sm investment-text-search" data-investment-reference='@("[" + i.ToString() + "].InvestmentId")'>
                                <input asp-for="@Model[i].InvestmentId" type="hidden" />
                            </div>
                        </div>
                        <div class="row"><div class="col-sm-12"><br/></div></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <span name="[@i].InvestmentId" class="form-control-static"></span>
                            </div>
                        </div>
                        <div class="row"><div class="col-sm-12"></div></div>
                        <div class="row"><div class="col-sm-12"></div></div>
                        <div class="row"><div class="col-sm-12"></div></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="row"><div class="col-sm-12"><br /></div></div>
                        <div class="row"><div class="col-sm-12"></div></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label>
                                    <input asp-for="@Model[i].RseFotovoltaic" type="checkbox">
                                    Inst. Fotowolt.
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="">
                                    <input asp-for="@Model[i].RseHeatPump" type="checkbox">
                                    Pompa ciepła
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="">
                                    <input asp-for="@Model[i].RseSolar" type="checkbox">
                                    Inst. Solar.
                                </label>
                            </div>
                        </div>
                        <div class="row"><div class="col-sm-12"></div></div>
                        <div class="row"><div class="col-sm-12"></div></div>
                    </div>
                    <div class="col-sm-1">
                        <div class="row"><div class="col-sm-12"><br /></div></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default btn-sm" title="Usuń wpłatę">
                                        <input asp-for="@Model[i].NotNeeded"
                                            type="checkbox" autocomplete="off">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</form>

<form hidden>
    <select id="DLInvestmentList" asp-items="@ViewBag.DLInvestments"></select>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script type="text/javascript" title="autocomplete">
        function onInvestmentSearchResult(event, ui) {
            //stop further processing
            event.stopPropagation();
            event.preventDefault();

            //search field
            var searchBox = $(event.target);

            //reference field 
            var referenceId = "input[name='" + searchBox.data("investment-reference") + "']";
            var referenceField = $(referenceId);
            referenceField.val(ui.item.value);

            //text field
            var textId = "span[name='" + searchBox.data("investment-reference") + "']";
            var textField = $(textId);
            textField.text(ui.item.label);

            //set value manually, because we're stopping event propagation
            searchBox.val(ui.item.label);
            searchBox.autocomplete("close");

        }

        function onInvestmentSearchBreak(event, data) {
            var searchBox = $(event.target);

            //reference field 
            var referenceId = "input[name='" + searchBox.data("investment-reference") + "']";
            var referenceField = $(referenceId);
            referenceField.val("");

            var textId = "span[name='" + searchBox.data("investment-reference") + "']";
            var textField = $(textId);
            textField.text("");
            
        }

        $(document).ready
           (
               function () {
                   //Prepare investment list
                   var sel = document.getElementById('DLInvestmentList');
                   var investmentList = new Array(sel.options.length);

                   for (var i = 0, n = sel.options.length; i < n; i++) {
                       if (sel.options[i].text)
                       {
                           investmentList[i] = {
                               "label": sel.options[i].text,
                               "value": sel.options[i].value
                           };
                       }
                   }
                   //attach autocomplete field
                   $('.investment-text-search').each
                   (
                       function (index){
                           $(this).autocomplete({ source: investmentList })
                       });

                   //event handler
                   $(document).on("autocompleteselect", onInvestmentSearchResult);
                   $(document).on("input", ".investment-text-search", onInvestmentSearchBreak);
               });
    </script>
}
