@model DoEko.Models.DoEko.Investment
@using DoEko.Controllers.Extensions
@using DoEko.Models.Identity
@inject UserManager<ApplicationUser> UserManager

@*<div class="container">*@
<form id="InvestmentDetailsForm" class="">
    <div class="row">
        <div class="form-group col-xs-6 col-sm-4 col-md-4">
            <label asp-for="ContractId" class="control-label"></label>
            <select asp-for="ContractId" asp-items="@ViewBag.ContractId" class="form-control"></select>
            <span asp-validation-for="ContractId" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-6 col-sm-4 col-md-4">
            <label asp-for="PriorityIndex" class="control-label"></label>
            <input asp-for="PriorityIndex" class="form-control" />
            <span asp-validation-for="PriorityIndex" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-sm-4 col-md-4"></div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6 col-sm-4 col-md-4">
            <label asp-for="Status" class="control-label"></label>
            <p class="form-control-static">
                @Model.Status.DisplayName()
            </p>
        </div>
        <div class="form-group col-xs-6 col-sm-4 col-md-4">
            <label asp-for="InspectionStatus" class="control-label"></label>
            <p class="form-control-static">
                @Model.InspectionStatus.DisplayName()
            </p>
        </div>
        <div class="form-group col-xs-12 col-sm-4 col-md-4">
            <input asp-for="InspectorId" type="hidden" />
            <label asp-for="InspectorId" class="control-label"></label>
            @{ SelectList inspectorId = ViewBag.InspectorId;
                string InspectorName = inspectorId.Single(i => i.Value == Model.InspectorId.ToString()).Text;
                }
            <p class="form-control-static">
                @InspectorName
            </p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-4 col-md-4">
            <label asp-for="Address" class="control-label"></label>
            @{ string MapsUrl = "https://google.com/maps/search/" + Html.UrlEncoder.Encode(Model.Address.SingleLine); }
            <p class="form-control-static">
                <a href="@MapsUrl" target="_blank" class="wg-link-default">
                    @Html.DisplayFor(model => model.Address.SingleLine)
                </a>
                @if (!string.IsNullOrEmpty(Model.GeoPortal))
            {
                    <a href="@Model.GeoPortal" title="widok na stronie geoportalu" target="_blank">(Geoportal)</a>
                }
            </p>
        </div>
        <div class="form-group col-xs-6 col-sm-4 col-md-4">
            <label asp-for="LandRegisterNo" class="control-label"></label>
            <input asp-for="LandRegisterNo" class="form-control" />
            <span asp-validation-for="LandRegisterNo" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-6 col-sm-4 col-md-4">
            <label asp-for="PlotNumber" class="control-label"></label>
            <input asp-for="PlotNumber" class="form-control" />
            <span asp-validation-for="PlotNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <input asp-for="InvestmentId" type="hidden" />
            <button type="button" class="cancel btn btn-default">Anuluj</button>
            <button type="button" class="submit btn btn-success">Zapisz</button>
        </div>
    </div>
</form>