@model DoEko.ViewComponents.ViewModels.SurveyPhotoViewModel
@using DoEko.Models.DoEko

<form id="SurveyPhoto"
      asp-action="EditPhotoAjax"
      asp-controller="Surveys">
    <fieldset>
        <input asp-for="SurveyId" type="hidden" />
        <input asp-for="InvestmentId" type="hidden" />
        @{
//left for compability with other tabs
        }
    </fieldset>
</form>

<legend>Zdjęcia</legend>
@{ 
//CH BOI Picture0 Picture5 Picture2                              Picture10
//CH GP  Picture0 Picture5 Picture2          Picture3  Picture1  Picture10
//CH HP  Picture0 Picture5 Picture2 Picture4                     Picture10
}

<div class="row">
    <div class="col-sm-3">
        <survey-picture picture-id="Picture10"
                        picture-title="Ankieta papierowa"
                        picture-link='@( Model.Attachments.ContainsKey("Picture10") ? Model.Attachments["Picture10"].Url : "" )'>
        </survey-picture>
    </div>
    <div class="col-sm-3">
        <survey-picture picture-id="Picture0"
                        picture-title="Ortofotomapa"
                        picture-link='@( Model.Attachments.ContainsKey("Picture0") ? Model.Attachments["Picture0"].Url : "" )'>
        </survey-picture>
    </div>
    <div class="col-sm-3">
        <survey-picture picture-id="Picture5"
                        picture-title="Zdjęcie budynku"
                        picture-link='@( Model.Attachments.ContainsKey("Picture5") ? Model.Attachments["Picture5"].Url : "" )'>
        </survey-picture>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <survey-picture picture-id="Picture2"
                        picture-title="Zdjęcie kotłowni"
                        picture-link='@( Model.Attachments.ContainsKey("Picture2") ? Model.Attachments["Picture2"].Url : "" )'>
        </survey-picture>
    </div>
    @switch (Model.Type_CH)
    {
        case DoEko.Models.DoEko.Survey.SurveyRSETypeCentralHeating.PelletBoiler:
            break;
        case DoEko.Models.DoEko.Survey.SurveyRSETypeCentralHeating.HeatPumpAir:
            <div class="col-sm-3">
                <survey-picture picture-id="Picture4"
                                picture-title="Zdj.ściany na montaż parownika"
                                picture-link='@( Model.Attachments.ContainsKey("Picture4") ? Model.Attachments["Picture4"].Url : "" )'>
                </survey-picture>
            </div>
            break;
        case DoEko.Models.DoEko.Survey.SurveyRSETypeCentralHeating.HeatPump:
            <div class="col-sm-3">
                <survey-picture picture-id="Picture3"
                                picture-title="Zdjęcie wjazdu na działkę"
                                picture-link='@( Model.Attachments.ContainsKey("Picture3") ? Model.Attachments["Picture3"].Url : "" )'>
                </survey-picture>
            </div>
            <div class="col-sm-3">
                <survey-picture picture-id="Picture1"
                                picture-title="Zdjęcie działki (miejsce pod odwierty pionowe)"
                                picture-link='@( Model.Attachments.ContainsKey("Picture1") ? Model.Attachments["Picture1"].Url : "" )'>
                </survey-picture>
            </div>
            break;
        default:
            break;
    }
</div>