@model DoEko.ViewComponents.ViewModels.SurveyPhotoViewModel
@using DoEko.Models.DoEko

<form id="SurveyPhoto"
      asp-action="EditPhotoAjax"
      asp-controller="Surveys">
    <fieldset>
        <input asp-for="SurveyId" type="hidden" />
        <input asp-for="InvestmentId" type="hidden" />
        @{
            //left for compability with other tabs
        }
    </fieldset>
</form>

<legend>Zdjęcia</legend>
@{ 
    //Picture0 Picture5    Picture6 Picture7    Picture8 Picture9 Picture10
}
<div class="row">
    <div class="col-sm-3">
        <survey-picture picture-id="Picture10"
                        picture-title="Ankieta papierowa"
                        picture-link='@( Model.Attachments.ContainsKey("Picture10") ? Model.Attachments["Picture10"].Url : "" )'>
        </survey-picture>
    </div>
    <div class="col-sm-3">
        <survey-picture picture-id="Picture0"
                        picture-title="Ortofotomapa"
                        picture-link='@( Model.Attachments.ContainsKey("Picture0") ? Model.Attachments["Picture0"].Url : "" )'>
        </survey-picture>
    </div>
    <div class="col-sm-3">
        <survey-picture picture-id="Picture5"
                        picture-title="Zdjęcie budynku"
                        picture-link='@( Model.Attachments.ContainsKey("Picture5") ? Model.Attachments["Picture5"].Url : "" )'>
        </survey-picture>
    </div>
    <div class="col-sm-3">
        <survey-picture picture-id="Picture6"
                        picture-title="Dach od strony południowej"
                        picture-link='@( Model.Attachments.ContainsKey("Picture6") ? Model.Attachments["Picture6"].Url : "" )'>
        </survey-picture>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <survey-picture picture-id="Picture7"
                        picture-title="Połać 1"
                        picture-link='@( Model.Attachments.ContainsKey("Picture7") ? Model.Attachments["Picture7"].Url : "" )'>
        </survey-picture>
    </div>
    <div class="col-sm-3">
        <survey-picture picture-id="Picture8"
                        picture-title="Połać 2"
                        picture-link='@( Model.Attachments.ContainsKey("Picture8") ? Model.Attachments["Picture8"].Url : "" )'>
        </survey-picture>
    </div>
    <div class="col-sm-3">
        <survey-picture picture-id="Picture9"
                        picture-title="Połać 3"
                        picture-link='@( Model.Attachments.ContainsKey("Picture9") ? Model.Attachments["Picture9"].Url : "" )'>
        </survey-picture>
    </div>
    <div class="col-sm-3">
        <survey-picture picture-id="Picture11"
                        picture-title="Rachunek za E.E."
                        picture-link='@( Model.Attachments.ContainsKey("Picture11") ? Model.Attachments["Picture11"].Url : "" )'>
        </survey-picture>
    </div>
</div>